<%= form_for(@brand) do |f| %>
    <table class="table table_width">
      <tr>
        <td>銘柄名</td>
        <td>
          <%= f.text_field :brand_name, class: 'form-control' %>
        </td>
      </tr>
      <tr>
        <td>都道府県</td>
        <td>
          <%= f.collection_select :prefecture_id, Prefecture.all, :id, :prefecture_name, include_blank: true, class: 'form-control' %>
        </td>
      </tr>
      <tr>
        <td>タイプ</td>
        <td>
          <%= f.select :type_id, Brand.type_ids_i18n.keys.map {|k| [Brand.type_ids_i18n[k], k]}, include_blank: true, class: 'form-control' %>
        </td>
      </tr>
      <tr>
        <td>評価</td>
        <td>
          <%= f.select :evaluation, Brand.evaluations_i18n.keys.map {|k| [Brand.evaluations_i18n[k], k]}, include_blank: true, class: 'form-control' %>
        </td>
      </tr>
      <tr>
        <td>価格</td>
        <td>
          <%= f.text_field :price, class: 'form-control' %>
        </td>
      </tr>      
      <tr>
        <td>コメント</td>
        <td>
          <%= f.text_area :comment, class: 'form-control', rows: 15 %>
        </td>
      </tr>
    </table>    

    <button type="submit", class="btn btn-secondary"><i class="far fa-plus-square"></i> 新規作成</button>
    <%= button_tag type: 'button', :class => 'btn btn-secondary', onclick: "link_to('#{brands_path}')" do %>
    <i class="fas fa-list-ul"></i> 一覧<% end %>
<% end %>