<p id="notice"><%= notice %></p>

<div class="table-responsive">
  <table class="table" style="table-layout:fixed;">
    <tr>
        <td style="width:200px;">銘柄</td>
        <td><%= @brand.brand_name %></td>
    </tr>
    <tr>
        <td>エリア</td>
        <td><%= get_region_name(@brand.prefecture_id) %></td>
    </tr>
    <tr>
        <td>都道府県</td>
        <td><%= get_prefecture_name(@brand.prefecture_id) %></td>
    </tr>
    <tr>
        <td>タイプ</td>
        <td><%= @brand.type_id_i18n %></td>
    </tr>
    <tr>
        <td>評価</td>
        <td><%= @brand.evaluation_i18n %></td>
    </tr>
    <tr>
        <td>価格</td>
        <td><%= @brand.price %>円</td>
    </tr>
    <tr>
        <td>コメント</td>
        <td><%= simple_format(@brand.comment) %></td>
    </tr>
  </table>
</div>

<br>

<%= button_tag type: 'button', :class => 'btn btn-success', onclick: "link_to('#{edit_brand_path(@brand)}')" do %>
<i class="fas fa-edit"></i> 更新<% end %>
<%= button_tag type: 'button', :class => 'btn btn-success', onclick: "link_to('#{brands_path}')" do %>
<i class="fas fa-list-ul"></i> 一覧<% end %>
